body {
  background-color: #afa;
}

.header {
  color: #fff;
  background-color: #00a000;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.exercises-done {
  position: relative;
  background-color: #dfd;
  width: 60vw;
  min-height: 89.9vh;
}

.exercise-content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  width: 96%;
  min-height: 96%;
  border-radius: 2rem;
  padding: 1.5rem;
}

.exercise-content > p {
  font-size: 1.5rem;
  position: absolute;
  left: 23%;
  margin-top: 5%;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.exercise-name {
  margin-left: 70px;
}

.mantine-Modal-body {
  display: flex;
  justify-content: center;
}

.exercise-options {
  background-color: #fcfcfc;
  border-radius: 10px;
  overflow-x: auto;
  height: 450px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mantine-NumberInput-label {
  margin-top: 1.5rem;
  position: relative;
  left: 40px;
}

.mantine-NumberInput-wrapper {
  margin-left: 1rem;
  width: 40%;
}

.add {
  width: 150px;
  height: 60px;
  background-color: green;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.add:hover {
  background-color: rgb(0, 160, 0);
}

.modal-content {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  width: 96%;
  min-height: 80vh;
  border-radius: 2rem;
  padding: 1.5rem;
}

.exercise-option {
  margin-right: 2rem;
  margin-bottom: 2rem;
  transition: 100ms ease-in-out;
}

.exercise-option:hover {
  cursor: pointer;
  transform: scale(102%);
  transition: 100ms ease-in-out;
}

img:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.mantine-Image-root {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 150px;
}

.mantine-Modal-root {
  --modal-size: 70%;
}

.mantine-ActionIcon-root {
  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: green;
}

.mantine-ActionIcon-root:hover {
  background-color: rgb(0, 160, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
