body {
  background-color: #afa;
}

.header {
  color: #fff;
  background-color: #00a000;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.exercises {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #dfd;
  width: 60vw;
  min-height: 100vh;
}

.exercise-content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  width: 96%;
  min-height: 96%;
  border-radius: 2rem;
  padding: 1.5rem;
}

.exercise-content > p {
  font-size: 1.5rem;
  position: absolute;
  left: 23%;
  margin-top: 5%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.exec-name {
  margin-left: 70px;
}

.exec-values {
  margin-top: 12%;
  margin-left: 10%;
}

.mantine-NumberInput-label {
  position: relative;
  left: 40px;
}

.mantine-NumberInput-wrapper {
  margin-left: 1rem;
}

.add {
  width: 100px;
  height: 50px;
  background-color: green;
  position: absolute;
  right: 8%;
  bottom: 15%;
}

.add:hover {
  background-color: rgb(0, 160, 0);
}

.modal-content {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  width: 96%;
  min-height: 96%;
  border-radius: 2rem;
  padding: 1.5rem;
}

.exercise-option {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.mantine-Image-root {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 150px;
}

.mantine-Modal-root {
  --modal-size: 70%;
}

.mantine-ActionIcon-root {
  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: green;
}

.mantine-ActionIcon-root:hover {
  background-color: rgb(0, 160, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
